@use 'variables' as vars;
@use 'mixins' as mix;

.main_container {
  min-height: 100dvh;
  display: grid;
  place-items: center;
}

.main_container > :first-child {
  width: 30rem
}

.form_container {
  @include mix.gen_container;
  border-color: vars.$mainColor;

  .form_title {
    @include mix.section_title;
    color: vars.$mainColor;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    gap: 1.4rem;
    height: calc(100% - 4.4rem);
    margin-bottom: 1.4rem;

    .input_group {
      @include mix.flex_col_start_center;

      .label {
        @include mix.label_field;
      }

      .field,
      .select {
        @include mix.field;
      }
    }

    .btn_form {
      @include mix.gen_btn;
      width: 100%;
      background-color: vars.$mainColor;
      border-color: vars.$mainColor;

      &:hover {
        background-color: vars.$lightColor;
        color: vars.$mainColor;
      }
    }
  }

  .option {
    a {
      color: vars.$mainColor;

      &:hover {
        color: rgba(vars.$mainColor, .5);
      }
    }
  }
}

@media (max-width: 512px) {
  .main_container {
    padding: 1rem;
  }

  .main_container > :first-child {
    width: 100%;
  }
}
