@use 'variables' as vars;
@use 'mixins' as mix;

.main_container {
  height: 100dvh;
  display: grid;
  place-items: center;
}

.main_container > :first-child {
  width: 30rem
}

.form_container {
  @include mix.gen_container;
  border-color: vars.$mainColor;

  .form {
    .form_title {
      @include mix.section_title;
      color: vars.$mainColor;
    }

    .input_group {
      @include mix.flex_col_start_center;

      .label {
        @include mix.label_field;
        color: vars.$mainColor;
      }

      .field,
      .select {
        @include mix.field;
        background-color: rgba(vars.$mainColor, .1);
      }
    }

    .btn_form {
      @include mix.gen_btn;
      width: 100%;
      margin: 1.2rem 0; // * tal vez borrar
      background-color: vars.$mainColor;
      border-color: vars.$mainColor;

      &:hover {
        background-color: vars.$lightColor;
        color: vars.$mainColor;
      }
    }
  }

  .option {
    a {
      text-decoration: none;
      color: vars.$mainColor;

      &:hover {
        color: rgba(vars.$mainColor, .5);
      }
    }
  }
}
