@use 'variables' as vars;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--jost-font);
  color: vars.$darkColor;
}

body {
  min-height: 100dvh;
  background-color: vars.$lightColor;
}
