@use 'variables' as vars;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--jost-font);
  color: vars.$darkColor;
  user-select: none;
}

body {
  min-height: 100dvh;
  background-color: vars.$lightColor;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(vars.$mainColor, .1);
}

::-webkit-scrollbar-thumb {
  background-color: vars.$mainColor;
}
