@use 'variables' as vars;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  padding: 1rem 4rem;
  border-bottom: 4px solid vars.$mainColor;

  .link_logo {
    height: 100%;
    .logo {
      height: 100%;
      width: auto;
    }
  }

  .options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    .user_name {
      font-size: 1.2rem;
      font-weight: bold;
      color: vars.$mainColor;

      a {
        color: inherit;
        text-decoration: none;
      }

      &:hover {
        text-decoration: underline;
        scale: 110%;
      }
    }

    .btn_logout {
      padding: .4rem 1.2rem;
      border-radius: .4rem;
      border: 2px solid vars.$lightColor;
      background: none;
      color: vars.$mainColor;
      font-weight: 600;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        border: 2px solid vars.$mainColor;
      }
    }
  }
}

@media (max-width: 1023px) {
  .header {
    padding: 1rem;

    .options {
      gap: .6rem;
    }
  }
}
