@use 'variables' as vars;
@use 'mixins' as mix;

.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: calc(100dvh - 10rem);
  gap: 2rem;
  min-height: calc(100dvh - 6rem);
  padding: 2rem 4rem;

  .btn_new_task {
    display: none;
    @include mix.gen_btn;
    background-color: vars.$mainColor;
    border-color: vars.$mainColor;

    &:hover {
      background-color: vars.$lightColor;
      color: vars.$mainColor;
    }
  }

  .form_section > :first-child {
    height: 100%;
  }
}

.modal {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
  width: 100dvw;
  min-height: 100dvh;
  padding: 1rem;
  background-color: rgba(vars.$lightColor, .2);
  backdrop-filter: blur(30px);
  overflow-y: scroll;

  button {
    align-self: flex-end;
    padding: .4rem 1.2rem;
    border-radius: .4rem;
    border: 2px solid rgba(vars.$lightColor, .2);
    background: none;
    color: vars.$mainColor;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;

    .BIcon {
      color: inherit;
    }

    &:hover {
      border-color:vars.$mainColor;
    }
  }
}

@media  (max-width: 1023px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;

    .btn_new_task {
      display: block;
    }

    .form_section {
      display: none;
    }
  }
}
