@use 'variables' as vars;

.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  height: calc(100dvh - 6rem);
  padding: 2rem 4rem;

  .tasks_container,
  .form_container {
    border: red 1px solid;
  }
}
