@use 'variables' as vars;
@use 'mixins' as mix;

.tasks_section {
  @include mix.gen_container;
  border-color: vars.$mainColor;

  .section_title {
    @include mix.section_title;
    color: vars.$mainColor;
    border-color: vars.$mainColor;
  }

  .container {
    height: calc(100% - 4.4rem);
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1.4rem;

    .list {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: start;
      gap: 1.4rem;
      padding: .4rem 1.4rem .4rem 0;
      overflow-y: scroll;
    }

    .controls {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-evenly;

      button {
        @include mix.gen_btn;
        background-color: vars.$mainColor;
        border-color: vars.$mainColor;

        &:hover {
          background-color: vars.$lightColor;
          color: vars.$mainColor;
        }
      }
    }

    .controls_select {
      display: none;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      .label {
        @include mix.label_field;
      }

      .filter {
        @include mix.field;
        max-width: 10rem;
      }
    }
  }
}

@media (max-width: 1023px) {
  .tasks_section {
    .container {
      display: flex;
      flex-direction: column-reverse;
      align-items: stretch;
      justify-content: center;

      .list {
        overflow: auto;
        padding: 0;
      }

      .controls {
        display: none;
      }

      .controls_select {
        display: flex;
      }
    }
  }
}

// @media (max-width: 767px) {
//   .tasks_section {
//     .container {

//     }
//   }
// }
