@use 'variables' as vars;
@use 'mixins' as mix;

.main_container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 2rem;
  min-height: calc(100dvh - 6rem);
  padding: 2rem 4rem;

  .user_data {
    @include mix.gen_container;
    border-color: vars.$mainColor;

    .user_title {
      @include mix.section_title;
      color: vars.$mainColor;
      border-color: vars.$mainColor;
    }

    .data_container {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-evenly;
      gap: .6rem;

      .field_area {
        .label {
          @include mix.label_field;
          color: vars.$mainColor;
        }

        .field_data {
          @include mix.field;
          display: flex;
          align-items: center;
          justify-content: space-between;

          button {
            @include mix.gen_btn;
            width: 2.6rem;
            height: 2.6rem;
            background-color: vars.$mainColor;
            border-color: vars.$mainColor;

            .BIcon {
              color: inherit;
            }

            &:hover {
              background-color: vars.$lightColor;
              color: vars.$mainColor;
            }
          }
        }
      }
    }
  }

  .danger_zone {
    @include mix.gen_container;
    border-color: vars.$deleteColor;

    .danger_title {
      @include mix.section_title;
      color: vars.$deleteColor;
      border-color: vars.$deleteColor;
    }

    .danger_btns {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-evenly;
      height: calc(100% - 4.4rem);

      button {
        @include mix.gen_btn;
        background-color: vars.$deleteColor;
        border-color: vars.$deleteColor;

        &:hover {
          color: vars.$deleteColor;
          background-color: vars.$lightColor;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .main_container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;

    .danger_zone{
      .danger_btns {
        gap: 2rem;
      }
    }
  }
}
