@use 'variables' as vars;
@use 'mixins' as mix;

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .6rem;
  background-color: rgba(vars.$mainColor, .1);
  border-radius: .6rem;
  padding: .6rem;
  font-size: 1.4rem;

  &:hover {
    background-color: rgba(vars.$mainColor, .4);
  }

  a {
    width: 75%;
    white-space: nowrap;
    overflow: hidden;

    .task_data {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: .4rem;

      .title {
        text-overflow: ellipsis;
      }

      .priority {
        padding: .2rem .6rem;
        border-radius: .6rem;
        font-size: .6em;
      }

      .normal {
        background-color: vars.$normalColor;
      }

      .urgent {
        background-color: vars.$urgentColor;
      }
    }
  }

  .btns_group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;

    button {
      @include mix.gen_btn;
      width: 3rem;
      height: 3rem;
    }

    .btn_complete {
      background-color: vars.$completeColor;
      border-color: vars.$completeColor;

      &:hover {
        background-color: vars.$lightColor;
        color: vars.$completeColor;
      }
    }

    .btn_delete {
      background-color: vars.$deleteColor;
      border-color: vars.$deleteColor;

      &:hover {
        background-color: vars.$lightColor;
        color: vars.$deleteColor;
      }
    }
  }
}

@media (max-width: 767px) {
  .item {
    font-size: 1rem;

    .btns_group {
      button {
        width: 2.5rem;
        height: 2.5rem;
        font-style: 1rem;
      }
    }
  }
}
