@use 'variables' as vars;
@use 'mixins' as mix;

.main {
  min-height: calc(100dvh - 6rem);
  padding: 2rem 4rem;

  .container {
    @include mix.gen_container;
    height: 100%;
    border-color: vars.$mainColor;

    .section_title {
      @include mix.section_title;
      color: vars.$mainColor;
      border-color: vars.$mainColor;
    }

    .task_info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.4rem;
      height: calc(100% - 4.2rem);

      .subsection {
        display: grid;

        .field_area {
          .label {
            @include mix.label_field;
            color: vars.$mainColor;
          }

          .field_data {
            @include mix.field;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .data {
              width: 90%
            }

            button {
              @include mix.gen_btn;
              width: 2.6rem;
              height: 2.6rem;
              background-color: vars.$mainColor;
              border-color: vars.$mainColor;

              &:hover {
                background-color: vars.$lightColor;
                color: vars.$mainColor;
              }
            }
          }
        }
      }

      .subsec1 {
        grid-template-rows: 1fr 2fr;
      }

      .subsec2 {
        grid-template-rows: 1fr 1fr 1fr;

        .btns_section {
          display: flex;
          align-items: center;
          justify-content: space-evenly;

          button {
            @include mix.gen_btn;
            width: 10rem;
          }

          .btn_complete {
            background-color: vars.$completeColor;
            border-color: vars.$completeColor;

            &:hover {
              color: vars.$completeColor;
              background-color: vars.$lightColor;
            }
          }

          .btn_delete {
            background-color: vars.$deleteColor;
            border-color: vars.$deleteColor;

            &:hover {
              color: vars.$deleteColor;
              background-color: vars.$lightColor;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .main {
    padding: 1rem;

    .container {
      .task_info {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .subsection {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }
      }
    }
  }
}
